BorderPane {
    -fx-glass-color: rgba(255,255,255, 0.5);
}

Label{
    -fx-font-size: 14;
    -fx-padding: 5;
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(#20262b, #d0d0d0);
}

.progress-dialog {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-glass-color, 20%), -fx-glass-color);
    -fx-border-color: derive(-fx-glass-color, -20%);
    -fx-border-width: 5;
    -fx-background-insets: 12;
    -fx-border-insets: 10;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

ProgressBar{
    -fx-padding: 0 10 0 0;
}